body {
    font-family: Arial, sans-serif;
    background: #1b1b1b;
    color: white;
}

.fitxa {
    width: 420px;
    margin: 50px auto;
    padding: 25px;
    background: #333;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
}

 .titulo {
    width: 420px;
    margin: 49px auto 13px auto;
}

.titulo h1 {
    margin: 0;
    color: white;
    font-size: 32px;
}

.titulo p {
    margin: 3px 0 0 0;
    color: #7b939f;
    font-size: 18px;
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 7px;
    font-weight: bold;
}

.barra {
    background: #555;
    border-radius: 99px;
    height: 14px;
    overflow: hidden;
    margin-bottom: 20px;
}

.barra span {
    display: block;
    height: 100%;
    border-radius: 99px;
}

.vida {
    background: #C2661F;
}

.forca {
    background: #02736F;
}

.experiencia {
    background: #8A4FFF;
}

.estat {
    display: inline-block;
    padding: 7px 18px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.estat0 {
    display: inline-block;
    background: #1fc240;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.estat1 {
    display: inline-block;
    background: #C2661F;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.estat0 .ferit {
    display: none;
}

.estat1 .normal {
    display: none;
}